<!DOCTYPE html>
<html>
<head>
  <title>Handlebars</title>
  <link href='https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|BenchNine' rel='stylesheet' type='text/css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js'> </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
